@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

html {
	font-size: 16px;
	font-family: "Murecho", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	height: 100%;
}

body {
	height: 100%;

	/* background-color: #0e0e0f;
    background-image: url(background-gradient.svg);
    background-size: auto;
    background-position: 50% 0;
    background-repeat: no-repeat; */

	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;

	color: white;

	background-image: url(../shared/felt.png), -webkit-radial-gradient(50% 40%, circle farthest-corner, #527c14, #243a0a);
	background-size: 180px 180px, auto;
	background-attachment: fixed;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 0.1em 0.3em 0.3em;
	/* border-bottom: 2px solid rgba(255, 255, 255, 0.3); */
}

.header .last-spins-container {
	display: flex;
	overflow: hidden;
	align-items: center;
}

.header .last-spins-title {
	text-wrap: nowrap;
	margin-right: 10px;
}

.header .last-spins {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.header .last-spins span {
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 999px;
	font-size: 1.5em;
	background-color: #1f2937;
}

.header .last-spins span.red {
	background-color: #ff0000;
}

.header .last-spins span.green {
	background-color: #00ff00;
}

.main {
	display: flex;
	flex-direction: column;
}


.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.logo img {
	filter: brightness(0) invert(1);
}

.logo img.logo-emblem {
	width: 200px;
}

.logo img.logo-text {
	width: 250px;
}

.main .table-container {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.main img.table {
	width: 787px;
	height: 232px;
	margin: auto;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	/* object-fit: fill; */
}

.main .controls {
	display: flex;
	justify-content: space-evenly;
	width: 787px;
	margin: auto;
}

.footer .connection-state {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	font-size: 1.5em;
}

.footer .connection-state.connected {
	/* color: #00ff00; */
	color: #1fb70e;
	/* opacity: .5; */
}

.footer .connection-state.disconnected {
	color: #ff0000;
}

button {
	all: unset;
	border-radius: 5px;
	padding: 0.6em 1.5em;
	transition: 0.3s cubic-bezier(0.15, 0.5, 0.5, 1) 0s, background-color 0.3s cubic-bezier(0.15, 0.5, 0.5, 1) 0s, opacity 0.3s cubic-bezier(0.15, 0.5, 0.5, 1) 0s, box-shadow 0.2s cubic-bezier(0.4, 0.3, 0.8, 0.6) 0s;
	cursor: pointer;
	border: 0;
	color: #d8d8d8;
	box-shadow: #00000042 4px 10px 15px 1px;
	background-color: #28282a;
	text-align: center;
}

button>i {
	margin-right: 5px;
}

button.disabled {
	opacity: 0.5;
	filter: grayscale(100%);
	pointer-events: none;
}

button:hover {
	box-shadow: none;
	background-color: #414141;
}

button.cta {
	color: white;
	background-color: #136cd1;
}

button.cta.disabled {
	background-color: #1e436d;
}

button.cta:hover {
	background-color: #1962b4;
}

button.large {
	padding: 0.95em 1.5em;
}

button.full-width {
	width: calc(100% - (1.5em * 2));
}

button.no-margin {
	margin: 0;
}

button.is-danger {
	color: #fff;
	background-color: #ff3860;
	background: radial-gradient(circle at 3% 7.4%, rgb(202 27 62) 0%, rgb(164 18 18) 90%);
}

/* Roulette Wheel */
.roulette-wheel {
	float: right;
	width: 380px;
	height: 380px;
	border-radius: 100%;
	background: url(../shared/roulette_1.jpg);
	background-size: 380px 380px;
	shape-outside: circle(190px);
	margin: 0 0 1em 1em;
	box-shadow: 2px 10px 30px rgba(0, 0, 0, .4);
	position: relative;
	touch-action: none;
	overflow: visible;
}

@media screen and (max-width: 2640px) {
	.roulette-wheel {
		float: none;
		margin: 1em auto
	}
}

@media screen and (max-width: 375px) {
	.roulette-wheel {
		float: none;
		left: 30px;
	}
}

.roulette-wheel .layer-2,
.roulette-wheel .layer-3,
.roulette-wheel .layer-4,
.roulette-wheel .layer-5,
.ball-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 380px 380px
}

.ball-container {
	pointer-events: none;
}

.roulette-wheel .layer-2,
.roulette-wheel .layer-4,
.ball-container {
	will-change: transform
}

.roulette-wheel .layer-2 {
	background-image: url(../shared/roulette_2.png)
}

.roulette-wheel .layer-3 {
	background-image: url(../shared/roulette_3.png)
}

.roulette-wheel .layer-4 {
	background-image: url(../shared/roulette_4.png);
}

.roulette-wheel .layer-5 {
	background-image: url(../shared/roulette_5.png);
}

.roulette-wheel svg {
	position: absolute;
	top: 0;
	left: 0
}

.roulette-wheel circle {
	cursor: pointer;
	fill: transparent;
}

.roulette-wheel .ball {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
	box-shadow: 1px 1px 4px #000;
	transform: translateY(-116px);
	top: 50%;
	left: 50%;
	margin: -7px;
	will-change: transform
}